*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  }

  body{
	font-family: 'Open Sans', sans-serif;
	background:#e2e2e2;
  }

  svg{
	position:fixed;
	top:0%;
	left:0%;
  }

  .container{
	position:relative;
	top:80px;
	display:block;
	width:500px;
	height:395px;
	background:#fff;
	border-radius:5px;
	overflow:hidden;
  z-index:1;
  margin: 0 auto;
	border:groove;
	height: auto;
  }

  h2{
	padding:40px;
	font-weight:lighter;
	text-transform:uppercase;
	color:#414141;
	text-align: center;
  }


  input, input[type=file], select, textarea{
	display:block;
	height:60px;
	width:100%;
	margin:0 auto;
	border:none;
  }
input:placeholder, textarea:placeholder{
	  -webkit-transform:translateY(0px);
		transform:translateY(0px);
	  -webkit-transition:.5s;
		transition:.5s;
	}

	input:hover,
	input:focus,
	input:active:focus,
	textarea:hover,
	textarea:focus,
	textarea:active:focus{
	  color:#ff5722;
	  outline:none !important;
	  border-bottom:1px solid #ff5722;
	}
	input::placeholder,textarea::placeholder{
		color:#ff5722;
		position:relative;
		-webkit-transform:translateY(-20px);
		transform:translateY(-20px);
	  }
  .email,
  .pwd{
	position:relative;
	z-index:1;
	border-bottom:1px solid rgba(0,0,0,.1);
	padding-left:20px;
	font-family: 'Open Sans', sans-serif;
	color:#858585;
	font-weight:lighter;
	-webkit-transition:.5s;
	transition:.5s;
	padding-top: 0.1rem;
  }

	form button{
	cursor:pointer;
	display:inline-block;
	float: right;
	width:350px;
	height:40px;
	margin: 20px;
	border:none;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	color:#fff;
	-webkit-transition: ease-in-out .5s;
	transition:.5s ease-in-out;
	}
 button:hover{
		background-color: #FF4403;
	}
	button:nth-of-type(1){
		background:#FF930B;
	}
	span{
		color: white;
	}
